doctype html
html(lang="nb-NO")
  head
    block title
      title= "Protoboss"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    = '\n'
    <!-- build:css css/vendor.min.css -->
    link(rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.css')
    = '\n'
    <!-- endbuild -->
    = '\n'
    <!-- build:css css/main.min.css -->
    link(rel='stylesheet', href='css/main.css')
    = '\n'
    <!-- endbuild -->
  body          
    block content

    = '\n'
    <!-- build:js(.) scripts/vendor.js -->
    script(src='bower_components/jquery/dist/jquery.js')
    = '\n'
    <!-- endbuild -->
    = '\n'
    <!-- build:js scripts/app.js -->
    script(src='scripts/app.js')
    = '\n'
    <!-- endbuild -->
