// ==========================================================================
// Variables
// ==========================================================================

$text-color: #222;

// ==========================================================================
// Mixins
// ==========================================================================

@mixin font-awesome($icon) {
  content: $icon;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
